/* start of header styles */
header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 20px;
    height: 75px;
    background-color: rgb(76, 203, 95);
}
header h1{
    font-size: 36px;
}
.navigation{
    display: flex;
    flex-direction: row; 
}

.mypicture {
  height: 15%;
width: 15%;
}

.studyguidepic {
  height: 200px;
  width: 200px;
}

.navigation li{
    margin-right: 20px;
}
/* added class for section about */
.about {
    color: black;
    background-color: rgb(27, 170, 115);
    display: flex;
justify-content: center;
  }

/* added class for section work*/
  .work {
    color: black;
    background-color: darkseagreen;
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    height: 250px;
    
    
    

    .work {
      width: 40%;
      height: 40%;
      
      
      }
    
    }

    #workheader h2{
      padding-left: 130px;

  
    }
    #contactheader {
      padding-left: 130px;
      
    }

/* added class for section contact*/
  .contact {
    color: black;
    background-color: darkgreen;
   
  }

 .box {
  width: 200px;
  height: 200px
 }

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #31d111;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #12bf4b;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: #13ca1c;
  }
}